.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-shop {
    color: white;
    background-color: #E55473;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
}

.header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.flower {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.flower img {
    width: 310px;
    height: 428px;
}

.f1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 70px 10px 70px;
    background: rgba(167, 33, 98, 0.15);
}

.f2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 70px 10px 70px;
    background: rgba(5, 151, 160, 0.15)
}

.f3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 70px 10px 70px;
    background: rgba(71, 125, 17, 0.15);

}

.ff-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.different-flowers {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px 0px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.support {
    text-align: center;
}

.color {
    color: #E55473;

}

.a-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deal {
    display: flex;
    gap: 30px;
    padding-left: 300px;
    margin-top: 100px;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}

.a-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: justify;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-n {
    color: white;
    border: none;
    font-size: 30px;
    border-radius: 8px;
    padding: 20px;
    background: #E55473;

}

.text {
    text-align: center;
}

.name {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.instragram img {
    margin-right: 40px;
}

.instragram {
    text-align: center;
}

.get {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
}

.info {
    text-align: center;
    border-radius: 8px;
    background: #FFF;
}

.btn-subscribe {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 20px;
}

.background {
    background-image: url('Rectangle\ 9.png');
    height: 400px;
    width: 1450px;
    text-align: center;
    margin-left: 200px;
    margin-top: 100px;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.input-field {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}
.footer{
    color: white;
    background-color: black;
}